[user]
	name = TAKAHASHI Shuuji
	email = shuuji3@gmail.com
[alias]
	st = status --short --branch
	cm = commit
	di = diff
	co = checkout
	br = branch
    cp = cherry-pick
    sdi = diff --staged
    sl = log --all --branches --graph --oneline --decorate
    gl = log --all --branches --graph
[core]
	autocrlf = input
	excludesfile = /Users/shuuji/.gitignore_global
[commit]
	template = ~/.stCommitMsg
[include]
    path = ~/.gitconfig.github
