[user]
	name = TAKAHASHI Shuuji
	email = shuuji3@gmail.com

[init]
	defaultBranch = main

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global

[branch]
	autosetuprebase = always

[alias]
	br = branch
	cm = commit
	co = checkout
	di = diff
	st = status
	sw = switch

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	light = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[includeIf "gitdir:~/src/navagis/"]
	path = ~/.gitconfig_navagis

[http]
	cookiefile = ~/.gitcookies
